<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
			id="com.djyos.dide.debug.gdbjtag.csky.launchConfigurationType"
			modes="debug,run"
			name="%launchConfig.name"
			public="true" />
	</extension>

	<!-- LaunchConfigurationDelegate.java is where fun starts -->
	<extension point="org.eclipse.debug.core.launchDelegates">
		<launchDelegate
			delegate="com.djyos.dide.debug.gdbjtag.csky.dsf.LaunchConfigurationDelegate"
			delegateDescription="%launchDelegate.jtagDsf.description"
			id="com.djyos.dide.debug.gdbjtag.csky.core.dsfLaunchDelegate"
			modes="debug,run"
			name="%launchDelegate.jtagDsf.name"
			sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
			sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer"
			type="com.djyos.dide.debug.gdbjtag.csky.launchConfigurationType">
		</launchDelegate>
	</extension>

	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage
			configTypeID="com.djyos.dide.debug.gdbjtag.csky.launchConfigurationType"
			icon="icons/obj16/c_app.gif"
			id="com.djyos.dide.debug.gdbjtag.csky.launchConfigurationTypeImage" />
	</extension>

	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			class="com.djyos.dide.debug.gdbjtag.csky.ui.TabGroupLaunchConfiguration"
			id="com.djyos.dide.debug.gdbjtag.csky.launchConfigurationTabGroup"
			type="com.djyos.dide.debug.gdbjtag.csky.launchConfigurationType" />
	</extension>

	<extension point="org.eclipse.cdt.debug.gdbjtag.core.JTagDevice">
		<device
			class="com.djyos.dide.debug.gdbjtag.csky.JTagDevice"
			id="com.djyos.dide.debug.gdbjtag.csky.core.jtagdevice"
			name="%JTagDevice.generic.name">
		</device>
	</extension>

	<extension point="org.eclipse.core.variables.valueVariables">
		<variable
			description="Path to CSKY installation folder"
			initializerClass="com.djyos.dide.debug.gdbjtag.csky.VariableInitializer"
			name="csky_path" />
	</extension>

	<extension point="org.eclipse.core.variables.valueVariables">
		<variable
			description="Name of the CSky GDB server executable"
			initializerClass="com.djyos.dide.debug.gdbjtag.csky.VariableInitializer"
			name="csky_gdbserver" />
	</extension>

	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="org.eclipse.debug.ui.DebugPreferencePage"
			class="com.djyos.dide.debug.gdbjtag.csky.preferences.CSkyPage"
			id="com.djyos.dide.debug.gdbjtag.csky.preferencePage"
			name="%preferences.csky">
		</page>
	</extension>
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer
			class="com.djyos.dide.debug.gdbjtag.csky.DefaultPreferenceInitializer">
		</initializer>
	</extension>

</plugin>
